* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Font definition*/

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  h1 {
    font-size: 77px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
}
  
  h4,
  h5 {
    font-size: 16px;
  }

  /*Clearfix*/

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*Container*/

.big-container {
    max-width: 1367px;
    width: 100%;
    margin: auto;
  }

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

  /*Colon Calc*/

  .col-1_9{
    width: calc(100%/9)
}  
.col-2_9{
    width: calc(100%/9*2)
}  
.col-3_9{
    width: calc(100%/9*3)
}  
.col-4_9{
    width: calc(100%/9*4)
}  
.col-5_9{
    width: calc(100%/9*5)
}  
.col-6_9{
    width: calc(100%/9*6)
}  
.col-7_9{
    width: calc(100%/9*7)
}  
.col-1_9{
    width: calc(100%/9*8)
}  
[class^="col-"]{
    float: left;
}

/*Navbar*/

nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-bottom: 20px;
}

.left-side{
    float: left;
    max-width: 50%;
    padding-top: 20px;
    padding-left: 10px;
}

nav ul li{
    display: inline-block;
}

ul li a{
    line-height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    color: black
}

li{
    vertical-align: middle;
}

.right-side{
    float:right;
    right: 0;
    max-width: 50%;
    padding-right: 10px;
    padding-top: 20px;
}

.blu-btn{
    background-color: rgba(0,97,255,255);
    color: white;
    line-height: 30px;
    padding: 0 20px;
    border: none;
}
 /*Hero Section*/

 .bg-hero{
     background-color: rgba(180,208,231,255);
     padding-top: 70px;
}

.text-box{
    float: left;
    
}

.img-box{
    float: right;
    width: 100%;
    object-fit: contain;
}

.hero-container{
    padding-top: 30px;
}

.btn-text-box{
    margin-top: 30px;
    margin-bottom: 10px;
}

.hero-section{
    min-height: 300px;
    position: relative;
    top: 100px;
}

/*Second section*/

.table-box{
    padding-top: 200px;
}

.input-box{
    padding-top: 30px;
    padding-top: 20px;
}

.promotion-coln{
    margin-left: -10px;
    margin-right: -10px;
}


.border-coln{
    margin-left: 10px;
    margin-right: 10px;
}

.border-cont{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 20px;
    padding: 5px 10px
    padding-bottom: 100px;

}

.promo-quantity{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;

}

ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    color: lightgrey;
    width: 25%;
}

.fa-check{
    color: rgba(0,97,255,255);
}



/*Table full container*/

