* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Font definition*/

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  h1 {
    font-size: 77px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
}
  
  h4,
  h5 {
    font-size: 16px;
  }

  /*Clearfix*/

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*Container*/

.big-container {
    max-width: 1367px;
    width: 100%;
    margin: auto;
  }

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

  /*Colon Calc*/

  .col-1_9{
    width: calc(100%/9)
}  
.col-2_9{
    width: calc(100%/9*2)
}  
.col-3_9{
    width: calc(100%/9*3)
}  
.col-4_9{
    width: calc(100%/9*4)
}  
.col-5_9{
    width: calc(100%/9*5)
}  
.col-6_9{
    width: calc(100%/9*6)
}  
.col-7_9{
    width: calc(100%/9*7)
}  
.col-1_9{
    width: calc(100%/9*8)
}  
[class^="col-"]{
    float: left;
}

/*Navbar*/

nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-bottom: 20px;
}

.left-side{
    float: left;
    max-width: 50%;
    padding-top: 20px;
    padding-left: 10px;
}

nav ul li{
    display: inline-block;
}

ul li a{
    line-height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    color: black
}

li{
    vertical-align: middle;
}

.right-side{
    float:right;
    right: 0;
    max-width: 50%;
    padding-right: 10px;
    padding-top: 20px;
}

.blu-btn{
    background-color: rgba(0,97,255,255);
    color: white;
    line-height: 30px;
    padding: 0 20px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-bw{
    color:black;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
}

.special-btn{
    background-color:white;
    color:rgba(0,97,255,255);
    border: 1px solid  rgba(0,97,255,255);
    line-height: 30px;
    padding: 0 20px;
    transition: outline 0.2s ease-in;
}

/*Transition*/

.blu-btn:hover{
    background-color: lightblue;
    color: white;
    opacity: 0.8;
}

.special-btn:hover{
   outline: 2px solid rgba(0,97,255,255);
}

.btn-bw:hover{
    background-color: lightgrey;
    opacity: 0.4;
}

 /*Hero Section*/

.bg-hero{
     background-color: rgba(180,208,231,255);
     padding-top: 70px;
}

.text-box{
    float: left;
}

.img-box{
    float: right;
    width: 100%;
    object-fit: contain;
}

.hero-container{
    padding-top: 30px;
}

.btn-margin-box{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.hero-section{
    min-height: 300px;
    position: relative;
    top: 100px;
}

.arrow-hero{
    margin-top: 10px;
}

/*Second section*/

.table-box{
    padding-top: 200px;
}

.input-box{
    padding-top: 30px;
    padding-top: 20px;
}

.promotion-coln{
    margin-left: -10px;
    margin-right: -10px;
}


.border-coln{
    padding-left: 10px;
    padding-right: 10px;
}

.border-cont{
    min-height: 200px;
    border: 1px solid lightgrey;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
}

.promo-quantity{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;

}

ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul .fix-icon i:nth-child(1){
    margin-left: -16px;
}

.fix-icon{
    padding-left: 16px;
}

.padding-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    color: lightgrey;
    width: 25%;
}

.fa-check{
    color: rgba(0,97,255,255);
}


/*Enterprice section*/

.enterprice-border{
    margin-top: 30px;
    border: 1px solid lightgray;
    min-height: 60px;
}

.text-enter-space{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 50px;
}

.text-enter-space{
    line-height: 40px;
}

.btn-float-container{
    float: right;
    right: 0;
    left: 50px;
}

/*.btn-float{
    float: right;
    bottom: 40px;
    right: 5px;
}*/

/*Partner section*/

.partner-section{
    min-height: 300px;
    margin-top: 70px;
}

.partner-img{
    width: 100%;
    min-height:300px;
    object-fit: contain;
}

.btn-bw{
    color:black;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: white;
    text-decoration: none;
}

.partner-border{
    padding-left: 25px;
    margin-top: 70px;
}

/*Table with img*/

.business-section{
    min-height: 300px;
    margin-top: 70px;
}

.operations{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.operations img {
    max-width: 100%;
}

.underline {
    text-decoration: underline;
} 

/*Square section*/

.border-square-text{
    margin-top: 70px;
}

.square-link{
    line-height: 40px;
    color: rgba(11,104,255,255);
}

/**/

.square-section{
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.square-section > div{
    min-height: 50px;
    float: left;
}

.square-section .square-container{
    width: 30%;
}

.square-section > div:nth-child(2){
    width: 40%;
}

.square{
    float: left;
    width: 50%;
    height: calc(30vw / 2);
    position: relative;
}

.square-img{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    filter: invert();
}


.square-container > .square:nth-child(1){
    background-color: #A2D39B;
}

.square.border-square{
    border: 5px solid #D0E9CD;
}

.square-container > .square:nth-child(2){
    background-color: #61082B;
}

.square-container > .square:nth-child(3){
    background-color: #0093CE;
}

.square-container > .square:nth-child(4){
    background-color: #FF1C1C;
}


.square-container:last-child > .square:nth-child(1){
    background-color: #FF1C1C;
    border: 0px;
}

.square-container:last-child > .square:nth-child(2){
    background-color: #B4D0E7;
}


.square-container:last-child > .square:nth-child(3){
    background-color: #0D2481;
}

.square-container:last-child > .square:nth-child(4){
    background-color: #FFD830;
}

.square-hr{
    color: lightgrey;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-text-container{
    width: 15vw;
    padding-left: 10px;
    margin-top: 20px;
}

.img-text-size{
    width: 50%;
}

.text-container-border{
    padding: 20px;
}

/*Dropbox Business*/

.bg-square-box{
    background-color: rgba(180,208,231,255);
    padding-top: 70px;
    padding-bottom: 70px;
}

.text-add{
    color:rgba(97,8,43,255);
}

.btn-box{
     float: right;
     margin-top: 20px;
}
.white-btn{
    background-color: white;
    color:black;
    line-height: 30px;
    padding: 0 30px;
    border: none;
    text-decoration: none;
}

/*Q & A*/

.container-qea{
    margin-top: 70px;
    margin-bottom: 70px;
}

.qea-border-h2{
    line-height: 120px;
    border-bottom: 1px solid black;
}

.accordion-item{
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    position: relative;
}

.accordion-item-icon{
    position: absolute;
    right: 20px;
    transform: rotateZ(0deg);
    transition: transform 0.3s;
}


.accordion-item-content{
    padding-top: 20px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
}

.accordion-item:focus .accordion-item-content{
    height: 300px;
    overflow: auto;
}

.accordion-item:focus .accordion-item-icon{
    transform: rotateZ(180deg);
}

/*Footer*/

footer{
    background-color: rgb(0, 0, 0);
    padding-top: 70px;
    color: white;
}

.container-footer {
    margin-right: 50px;
    margin-left: 70px;
}

.col_1_5 {
    width: calc(100% / 5);
    float: left;
}

.footer-ul li a{
    color: white;
    margin-right: 0;
}

.footer-ul{
    padding-top: 30px;
    list-style: none;
}

.lang {
    border-top: 1px solid white;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 120px;
}

.globe-icon {
    color: grey;
    font-size: 12px;
}

.lang-color{
    color: grey;
}




