* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Font definition*/

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  h1 {
    font-size: 77px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  h4,
  h5 {
    font-size: 16px;
  }

  /*Clearfix*/

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Colon Calc*/

  .col-1_9{
    width: calc(100%/9)
}  
.col-2_9{
    width: calc(100%/9*2)
}  
.col-3_9{
    width: calc(100%/9*3)
}  
.col-4_9{
    width: calc(100%/9*4)
}  
.col-5_9{
    width: calc(100%/9*5)
}  
.col-6_9{
    width: calc(100%/9*6)
}  
.col-7_9{
    width: calc(100%/9*7)
}  
.col-1_9{
    width: calc(100%/9*8)
}  
[class^="col-"]{
    float: left;
}

/**/

nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}

.left-side{
    float: left;
    max-width: 50%;
    padding-top: 20px;
    padding-left: 10px;
}

nav ul li{
    display: inline-block;
}

ul li a{
    line-height: 30px;
    text-decoration: none;
    padding: 5px 10px;
    color: black
}

li{
    vertical-align: middle;
}

.right-side{
    float:right;
    right: 0;
    max-width: 50%;
    padding-right: 10px;
    padding-top: 20px;
}

.blu-btn{
    background-color: rgba(0,97,255,255);
    color: white;
    line-height: 30px;
    padding: 0 20px;
    border: none;
}


